# Copyright (c) 2020, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
name: verrazzano

image:
  pullPolicy: Always
  terminationGracePeriodSeconds: 60

docker:
  repository: container-registry.oracle.com
  namespace: verrazzano

verrazzanoOperator:
  name: verrazzano-operator
  imageName: verrazzano-operator-jenkins
  imageVersion: a81728b66ead65beda33260566a7a4d2dd7c9980
  sslVerify: true
  cohMicroImage: verrazzano-coh-cluster-operator:v0.0.8
  helidonMicroImage: verrazzano-helidon-app-operator:v0.0.7
  wlsMicroImage: verrazzano-wko-operator:v0.0.10
  prometheusPusherImage: prometheus-pusher:1.0.1-ff71638-20
  nodeExporterImage: node-exporter:0.18.1-0cca78f-10
  filebeatImage: filebeat:6.8.3-8218206-10
  journalbeatImage: journalbeat:6.8.3-8218206-10
  weblogicOperatorImage: oracle/weblogic-kubernetes-operator:3.0.0
  fluentdImage: fluentd-kubernetes-daemonset:v1.10.4-6ce326d-18
  apiServerRealm: verrazzano-system

monitoringOperator:
  name: verrazzano-monitoring-operator
  imageName: verrazzano-monitoring-operator
  imageVersion: v0.0.18
  metricsPort: 8090
  defaultSimpleCompReplicas: 1
  defaultPrometheusReplicas: 1
  grafanaImage: container-registry.oracle.com/olcne/grafana:v6.4.4
  prometheusImage: container-registry.oracle.com/olcne/prometheus:v2.13.1
  prometheusInitImage: container-registry.oracle.com/os/oraclelinux:7-slim
  prometheusGatewayImage: prometheus-pushgateway:1.2.0-6893444-13
  alertManagerImage: "noimage"
  esWaitTargetVersion: 7.6.1
  esImage: elasticsearch:7.6.1-1d68e1a-3
  esWaitImage: verrazzano-monitoring-instance-eswait:v0.0.18
  esInitImage: container-registry.oracle.com/os/oraclelinux:7.8
  kibanaImage: kibana:7.6.1-ccfddab-2
  monitoringInstanceApiImage: verrazzano-monitoring-instance-api:v0.0.7
  configReloaderImage: configmap-reload:0.3-81d6423-34
  nodeExporterImage: node-exporter:0.18.1-0cca78f-10

clusterOperator:
  name: verrazzano-cluster-operator
  imageName: verrazzano-cluster-operator
  imageVersion: v0.0.9
  rancherURL:
  rancherUserName:
  rancherPassword:
  rancherHostname:

verrazzanoAdmissionController:
  name: verrazzano-validation
  controllerName: verrazzano-admission-controller
  imageName: verrazzano-admission-controller
  imageVersion: v0.0.17
  caBundle:

# OCI-related values
oci:
  region: ""
  tenancyOcid: ""
  userOcid: ""
  fingerprint: ""
  privateKey: ""
  compartment: ""
  clusterOcid: ""
  objectStore:
    bucketName: ""
    namespace: ""

config:
  envName:
  dnsSuffix: verrazzano.io
  enableMonitoringStorage: true
