# Copyright (c) 2021, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: multiclustersecrets.clusters.verrazzano.io
spec:
  group: clusters.verrazzano.io
  names:
    kind: MultiClusterSecret
    listKind: MultiClusterSecretList
    plural: multiclustersecrets
    shortNames:
    - mcsecret
    singular: multiclustersecret
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MultiClusterSecret is the Schema for the multiclustersecrets
          API, which will be used by a user in the management cluster, to create a
          Kubernetes secret targeted at one or more managed clusters
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: MultiClusterSecretSpec defines the desired state of MultiClusterSecret
            properties:
              placement:
                description: Clusters in which the secret is to be placed
                properties:
                  clusters:
                    items:
                      description: Cluster where multi cluster resources are placed
                      properties:
                        name:
                          description: the name of the cluster
                          type: string
                      required:
                      - name
                      type: object
                    type: array
                required:
                - clusters
                type: object
              template:
                description: The embedded Kubernetes secret
                properties:
                  data:
                    additionalProperties:
                      format: byte
                      type: string
                    description: Data corresponds to the Data field of K8S corev1.Secret
                    type: object
                  metadata:
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
                  stringData:
                    additionalProperties:
                      type: string
                    description: StringData corresponds to the StringData field of
                      K8S corev1.Secret
                    type: object
                  type:
                    description: Type corresponds to the Type field of K8S corev1.Secret
                    type: string
                type: object
            required:
            - placement
            - template
            type: object
          status:
            description: MultiClusterSecretStatus defines the observed state of MultiClusterSecret
            properties:
              conditions:
                description: The latest available observations of an object's current
                  state.
                items:
                  description: Condition describes current state of a multi cluster
                    resource.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human readable message indicating details about
                        last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              state:
                description: State of the MultiClusterSecret custom resource
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
