# Copyright (c) 2020, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.verrazzanoOperator.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.verrazzanoOperator.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.verrazzanoOperator.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.verrazzanoOperator.name }}
    spec:
      containers:
        - name: {{ .Values.verrazzanoOperator.name }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          image: {{ .Values.verrazzanoOperator.imageName }}:{{ .Values.verrazzanoOperator.imageVersion }}
          args:
            - --v=4
            - --verrazzanoUri={{ .Values.config.envName }}.{{ .Values.config.dnsSuffix }}
            - --enableMonitoringStorage={{ .Values.config.enableMonitoringStorage }}
            - --sslVerify={{ .Values.verrazzanoOperator.sslVerify }}
            - --apiServerRealm={{ .Values.verrazzanoOperator.apiServerRealm }}
          env:
            - name: COH_MICRO_IMAGE
              value: {{ .Values.verrazzanoOperator.cohMicroImage }}
            - name: HELIDON_MICRO_IMAGE
              value: {{ .Values.verrazzanoOperator.helidonMicroImage }}
            - name: WLS_MICRO_IMAGE
              value: {{ .Values.verrazzanoOperator.wlsMicroImage }}
            - name: PROMETHEUS_PUSHER_IMAGE
              value: {{ .Values.verrazzanoOperator.prometheusPusherImage }}
            - name: NODE_EXPORTER_IMAGE
              value: {{ .Values.verrazzanoOperator.nodeExporterImage }}
            - name: FILEBEAT_IMAGE
              value: {{ .Values.verrazzanoOperator.filebeatImage }}
            - name: JOURNALBEAT_IMAGE
              value: {{ .Values.verrazzanoOperator.journalbeatImage }}
            - name: WEBLOGIC_OPERATOR_IMAGE
              value: {{ .Values.verrazzanoOperator.weblogicOperatorImage }}
            - name: FLUENTD_IMAGE
              value: {{ .Values.verrazzanoOperator.fluentdImage }}
      serviceAccount: {{ .Values.verrazzanoOperator.name }}
---
kind: Service
apiVersion: v1
metadata:
  name: {{ .Values.verrazzanoOperator.name }}
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: {{ .Values.verrazzanoOperator.name }}
  type: ClusterIP
  ports:
    - name: api
      protocol: TCP
      port: 3456
      targetPort: 3456
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    external-dns.alpha.kubernetes.io/target: verrazzano-ingress.{{ .Values.config.envName }}.{{ .Values.config.dnsSuffix }}
    kubernetes.io/tls-acme: "true"
  name: {{ .Values.verrazzanoOperator.name }}-ingress
  namespace: {{ .Release.Namespace }}
spec:
  rules:
    - host: api.{{ .Values.config.envName }}.{{ .Values.config.dnsSuffix }}
      http:
        paths:
          - backend:
              serviceName: {{ .Values.verrazzanoOperator.name }}
              servicePort: 3456
            path: /
  tls:
    - hosts:
        - api.{{ .Values.config.envName }}.{{ .Values.config.dnsSuffix }}
      secretName: {{ .Values.config.envName }}-secret
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.verrazzanoOperator.name }}
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Values.verrazzanoOperator.name }}
rules:
  - apiGroups:
      - verrazzano.io
    resources:
      - '*'
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
  - apiGroups:
      - verrazzano.io
    resources:
      - verrazzanomonitoringinstances
      - wlsoperators
      - helidonapps
      - cohclusters
    verbs:
      - get
      - list
      - watch
      - update
      - create
      - delete
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/exec
      - configmaps
      - endpoints
      - events
      - namespaces
      - persistentvolumeclaims
      - secrets
      - services
    verbs:
      - '*'
  - apiGroups:
      - ""
    resources:
      - daemonsets
      - nodes
      - serviceaccounts
      - pods/log
      - pods/portforward
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
      - patch
      - deletecollection
  - apiGroups:
      - apps
    resources:
      - deployments
      - daemonsets
      - replicasets
      - statefulsets
    verbs:
      - '*'
  - apiGroups:
      - apps
    resources:
      - deployments/finalizers
    resourceNames:
      - coherence-operator
    verbs:
      - update
  - apiGroups:
      - extensions
    resources:
      - podsecuritypolicies
    resourceNames:
      - system-node-exporter
    verbs:
      - use
  - apiGroups:
      - extensions
    resources:
      - daemonsets
      - replicasets
      - statefulsets
    verbs:
      - get
      - list
      - watch
      - update
      - create
      - delete
  - apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
    verbs:
      - create
  - apiGroups:
      - authorization.k8s.io
    resources:
      - subjectaccessreviews
    verbs:
      - create
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterroles
      - clusterrolebindings
      - roles
      - rolebindings
    verbs:
      - get
      - list
      - watch
      - update
      - create
      - delete
  - apiGroups:
      - networking.istio.io
    resources:
      - gateways
      - virtualservices
      - serviceentries
    verbs:
      - get
      - list
      - watch
      - update
      - create
      - delete
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - '*'
  - apiGroups:
      - coherence.oracle.com
    resources:
      - '*'
    verbs:
      - '*'
  - apiGroups:
      - weblogic.oracle
    resources:
      - domains
    verbs:
      - get
      - list
      - watch
      - update
      - create
      - delete
      - patch
      - deletecollection
  - apiGroups:
      - weblogic.oracle
    resources:
      - domains/status
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
      - patch
      - deletecollection
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - servicemonitors
    verbs:
      - get
      - create
  - nonResourceURLs:
      - /version/*
    verbs:
      - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Values.verrazzanoOperator.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Values.verrazzanoOperator.name }}
subjects:
  - kind: ServiceAccount
    name: {{ .Values.verrazzanoOperator.name }}
    namespace: {{ .Release.Namespace }}
