# Copyright (c) 2020, 2021, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
.verrazzano/
build/
operator/scripts/install/build/
operator/scripts/uninstall/build/
operator/scripts/uninstall/uninstall-steps/build/
examples/**/build/
.idea/
*.iml
operator/build/_output
operator/build/deploy
vendor
.idea
**/*.iml
operator/pkg/assets
bin
operator/bin
dist
archive
latest
known_licenses.txt
no_licenses.txt
thirdparty_licenses
index.yaml
coverage.cov
coverageTmp.cov
coverage.html
coverage.xml
coverage.raw.cov
operator/test/integ/integ*result.xml
operator/test/integ/integ.coverprofile
oam-application-operator/test/integ/integ*result.xml
oam-application-operator/test/integ/integ.coverprofile
out/
**/*test-result.xml
