# Copyright (c) 2020, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
.verrazzano/
platform-operator/scripts/install/build/
platform-operator/scripts/uninstall/build/
platform-operator/scripts/uninstall/uninstall-steps/build/
examples/**/build/
.idea/
*.iml
application-operator/build/_output
application-operator/build/deploy
application-operator/build/webhook-certs
vendor
.idea
**/*.iml
platform-operator/pkg/assets
platform-operator/build/deploy
bin
platform-operator/bin
dist
archive
latest
known_licenses.txt
no_licenses.txt
thirdparty_licenses
index.yaml
cert-manager-ocidns.crds.yaml.*
coverage.cov
coverageTmp.cov
coverage.html
coverage.xml
coverage.raw.cov
platform-operator/test/integ/integ*result.xml
platform-operator/test/integ/integ.coverprofile
application-operator/test/integ/integ*result.xml
application-operator/test/integ/integ.coverprofile
out/
**/test-report.xml
**/*test-result.xml
**/*-cluster-dump
**/*.log
platform-operator/THIRD_PARTY_LICENSES.txt
application-operator/THIRD_PARTY_LICENSES.txt
image-patch-operator/THIRD_PARTY_LICENSES.txt
image-patch-operator/weblogic-imagetool/THIRD_PARTY_LICENSES.txt
image-patch-operator/weblogic-imagetool/installers/*
!image-patch-operator/weblogic-imagetool/installers/.gitkeep
tools/analysis/THIRD_PARTY_LICENSES.txt
tests/e2e/**/*.test
**/.DS_Store
**/.vscode
ATTRIBUTION-HELPER-DEPS
**/.terraform
