# Copyright (c) 2020, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
name: verrazzano-application-operator
namespace: verrazzano-system

global:
  imagePullSecrets: []

# NOTE: The image value gets set in the override file verrazzano-application-operator-values.yaml
# during the platform operator docker image build.
image:
imagePullPolicy: IfNotPresent
logLevel: info

requestMemory: 72Mi

webhook:
  replicas: 1

# NOTE: The image you're looking for isn't here. The fluentd-kubernetes-daemonset image now comes from
# the bill of materials file (verrazzano-bom.json).
