# Copyright (c) 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

name: opensearch-s3
ID: ops-s3
description: |
  This is a scenario that writes logs to STDOUT and gets logs from OpenSearch at a fast rate.
  The purpose of the scenario is to test a concurrent read/write load on OpenSearch logging records.
usecases:
  - usecasePath: opensearch/getlogs.yaml
    overrideFile: getlogs-fast.yaml
    description: getlogs from Opensearch 1000 times a second
  - usecasePath: opensearch/writelogs.yaml
    overrideFile: writelogs-fast.yaml
    description: write logs to STDOUT 1000 times a second
