# Copyright (C) 2022, 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: verrazzano-cluster-operator
rules:
  - apiGroups:
    - admissionregistration.k8s.io
    resources:
    - validatingwebhookconfigurations
    - mutatingwebhookconfigurations
    verbs:
    - create
    - get
    - list
    - patch
    - update
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - networking.istio.io
    resources:
      - destinationrules
      - serviceentries
    verbs:
      - create
      - update
      - delete
      - get
      - list
      - watch
  - apiGroups:
      - clusters.verrazzano.io
    resources:
      - verrazzanomanagedclusters
      - verrazzanomanagedclusters/status
      - ocneociquickcreates
      - ocneociquickcreates/status
      - okequickcreates
      - okequickcreates/status
    verbs:
      - create
      - update
      - delete
      - get
      - list
      - patch
      - watch
  - apiGroups:
      - install.verrazzano.io
    resources:
      - verrazzanos
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
      - configmaps
      - endpoints
      - secrets
      - services
      - pods/exec
      - namespaces
    verbs:
      - create
      - get
      - list
      - update
      - watch
      - delete
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - update
      - watch
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - rolebindings
    verbs:
      - create
      - get
      - list
      - update
      - watch
  - apiGroups:
      - management.cattle.io
    resources:
      - clusters
      - users
    verbs:
      - update
      - get
      - list
      - watch
  - apiGroups:
      - infrastructure.cluster.x-k8s.io
    resources:
      - ociclusteridentities
    verbs:
      - get
  - apiGroups:
      - infrastructure.cluster.x-k8s.io
      - controlplane.cluster.x-k8s.io
      - bootstrap.cluster.x-k8s.io
      - addons.cluster.x-k8s.io
    resources:
      - ocimanagedmachinepools
      - ociclusters
      - ocivirtualmachinepools
      - ocimanagedclusters
      - ocimanagedcontrolplanes
      - ocimachinetemplates
      - ocimanagedmachinepool
      - ocnecontrolplanes
      - ocneconfigtemplates
      - clusterresourcesets
    verbs:
      - get
      - create
      - update
  - apiGroups:
      - cluster.x-k8s.io
    resources:
      - clusters
      - machinedeployments
      - machinepools
    verbs:
      - create
      - update
      - get
      - list
      - watch
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
  - apiGroups:
      - management.cattle.io
    resources:
      - clusterroletemplatebindings
    verbs:
      - create
      - update
      - get
      - list
      - watch
