# Copyright (c) 2020, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
{{- if .Values.global.imagePullSecrets }}
imagePullSecrets:
  {{- range .Values.global.imagePullSecrets }}
- name: {{ . }}
{{- end }}
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: verrazzano-application-operator
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - namespaces
      - pods
      - secrets
      - rolebindings
      - serviceaccounts
      - services
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
      - replicasets
      - daemonsets
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - extensions
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
      - validatingwebhookconfigurations
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - networking.k8s.io
    resources:
      - networkpolicies
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterroles
      - roles
      - rolebindings
    verbs:
      - bind
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - cert-manager.io
    resources:
      - certificates
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - clusters.verrazzano.io
    resources:
      - '*'
      - '*/status'
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - coherence.oracle.com
    resources:
      - coherence
      - coherence/status
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - core.oam.dev
    resources:
      - '*'
      - '*/status'
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - networking.istio.io
    resources:
      - destinationrules
      - ingresses
      - gateways
      - virtualservices
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - verrazzano.io
    resources:
      - '*'
      - '*/status'
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - oam.verrazzano.io
    resources:
      - '*'
      - '*/status'
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - app.verrazzano.io
    resources:
      - '*'
      - '*/status'
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - security.istio.io
    resources:
      - authorizationpolicies
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - weblogic.oracle
    resources:
      - domains
      - domains/status
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Values.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: verrazzano-application-operator
subjects:
  - kind: ServiceAccount
    name: {{ .Values.name }}
    namespace: {{ .Values.namespace }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
spec:
  ports:
    - name: webhook
      port: 443
      targetPort: 9443
  selector:
    app: {{ .Values.name }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.name }}
    spec:
      containers:
        - name: {{ .Values.name }}
          image: {{ .Values.image }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          args:
            - --zap-log-level={{ .Values.logLevel }}
          startupProbe:
            exec:
              command:
                - sh
                - -c
                - 'reply=$(curl -s -o /dev/null -w %{http_code} -o /dev/null -k -H "Content-Type: application/json"  https://127.0.0.1:9443/appconfig-defaulter); if [ \"$reply\" -lt 200 -o \"$reply\" -ge 400 ]; then exit 1; fi; reply=$(curl -s -o /dev/null -w %{http_code} -o /dev/null -k -H "Content-Type: application/json"  https://127.0.0.1:9443/validate-oam-verrazzano-io-v1alpha1-ingresstrait); if [ \"$reply\" -lt 200 -o \"$reply\" -ge 400 ]; then exit 1; fi;'
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 10
          resources:
            requests:
              memory: {{ .Values.requestMemory }}
          volumeMounts:
            - name: webhook-certs
              mountPath: /etc/certs
          env:
            - name: DEFAULT_FLUENTD_IMAGE
              value: {{ .Values.fluentdImage }}
            - name: ISTIO_PROXY_IMAGE
              value: {{ .Values.istioProxyImage }}
      volumes:
        - name: webhook-certs
          emptyDir: {}
      serviceAccountName: {{ .Values.name }}
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: verrazzano-application-appconfig-defaulter
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
webhooks:
  - name: verrazzano-application-appconfig-defaulter.verrazzano.io
    clientConfig:
      service:
        name: {{ .Values.name }}
        namespace: {{ .Values.namespace }}
        path: "/appconfig-defaulter"
    rules:
      - apiGroups:
          - core.oam.dev
        apiVersions:
          - v1alpha2
        operations:
          - CREATE
          - UPDATE
          - DELETE
        resources:
          - applicationconfigurations
    sideEffects: NoneOnDryRun
    failurePolicy: Fail
    matchPolicy: Exact
    timeoutSeconds: 30
    admissionReviewVersions:
      - v1beta1
      - v1
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: verrazzano-application-ingresstrait-validator
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
webhooks:
  - name: verrazzano-application-ingresstrait-validator.verrazzano.io
    clientConfig:
      service:
        name: {{ .Values.name }}
        namespace: {{ .Values.namespace }}
        path: "/validate-oam-verrazzano-io-v1alpha1-ingresstrait"
    rules:
      - apiGroups:
          - oam.verrazzano.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - ingresstraits
    sideEffects: None
    failurePolicy: Fail
    matchPolicy: Exact
    timeoutSeconds: 30
    admissionReviewVersions:
      - v1beta1
      - v1
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: verrazzano-application-istio-defaulter
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
webhooks:
  - name: verrazzano-application-istio-defaulter.verrazzano.io
    namespaceSelector:
      matchExpressions:
          - {key: istio-injection, operator: In, values: [enabled]}
          - {key: verrazzano.io/namespace, operator: NotIn, values: [verrazzano-system]}
    clientConfig:
      service:
        name: {{ .Values.name }}
        namespace: {{ .Values.namespace }}
        path: "/istio-defaulter"
    rules:
      - apiGroups:
          - ""
        apiVersions:
          - v1
        operations:
          - CREATE
        resources:
          - pods
    sideEffects: None
    failurePolicy: Fail
    matchPolicy: Exact
    timeoutSeconds: 30
    admissionReviewVersions:
      - v1beta1
      - v1
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: verrazzano-application-verrazzanoproject
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
webhooks:
  - name: verrazzano-clusters-verrazzanoproject-validator.verrazzano.io
    clientConfig:
      service:
        name: {{ .Values.name }}
        namespace: {{ .Values.namespace }}
        path: "/validate-clusters-verrazzano-io-v1alpha1-verrazzanoproject"
    rules:
      - apiGroups:
          - clusters.verrazzano.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - verrazzanoprojects
    sideEffects: None
    failurePolicy: Fail
    matchPolicy: Exact
    timeoutSeconds: 30
    admissionReviewVersions:
      - v1beta1
      - v1
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: verrazzano-application-multiclusterapplicationconfiguration
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
webhooks:
  - name: verrazzano-clusters-multiclusterapplicationconfiguration-validator.verrazzano.io
    clientConfig:
      service:
        name: {{ .Values.name }}
        namespace: {{ .Values.namespace }}
        path: "/validate-clusters-verrazzano-io-v1alpha1-multiclusterapplicationconfiguration"
    rules:
      - apiGroups:
          - clusters.verrazzano.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - multiclusterapplicationconfigurations
    sideEffects: None
    failurePolicy: Fail
    matchPolicy: Exact
    timeoutSeconds: 30
    admissionReviewVersions:
      - v1beta1
      - v1
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: verrazzano-application-multiclustercomponent
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
webhooks:
  - name: verrazzano-clusters-multiclustercomponent-validator.verrazzano.io
    clientConfig:
      service:
        name: {{ .Values.name }}
        namespace: {{ .Values.namespace }}
        path: "/validate-clusters-verrazzano-io-v1alpha1-multiclustercomponent"
    rules:
      - apiGroups:
          - clusters.verrazzano.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - multiclustercomponents
    sideEffects: None
    failurePolicy: Fail
    matchPolicy: Exact
    timeoutSeconds: 30
    admissionReviewVersions:
      - v1beta1
      - v1
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: verrazzano-application-multiclusterconfigmap
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
webhooks:
  - name: verrazzano-clusters-multiclusterconfigmap-validator.verrazzano.io
    clientConfig:
      service:
        name: {{ .Values.name }}
        namespace: {{ .Values.namespace }}
        path: "/validate-clusters-verrazzano-io-v1alpha1-multiclusterconfigmap"
    rules:
      - apiGroups:
          - clusters.verrazzano.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - multiclusterconfigmaps
    sideEffects: None
    failurePolicy: Fail
    matchPolicy: Exact
    timeoutSeconds: 30
    admissionReviewVersions:
      - v1beta1
      - v1
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: verrazzano-application-multiclustersecret
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
webhooks:
  - name: verrazzano-clusters-multiclustersecret-validator.verrazzano.io
    clientConfig:
      service:
        name: {{ .Values.name }}
        namespace: {{ .Values.namespace }}
        path: "/validate-clusters-verrazzano-io-v1alpha1-multiclustersecret"
    rules:
      - apiGroups:
          - clusters.verrazzano.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - multiclustersecrets
    sideEffects: None
    failurePolicy: Fail
    matchPolicy: Exact
    timeoutSeconds: 30
    admissionReviewVersions:
      - v1beta1
      - v1
