# Copyright (C) 2020, 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: verrazzano-managed-cluster
rules:
  - apiGroups:
      - clusters.verrazzano.io
    resources:
      - multiclusterapplicationconfigurations
      - multiclustercomponents
      - multiclusterconfigmaps
      - multiclusterloggingscopes
      - multiclustersecrets
      - verrazzanoprojects
      - verrazzanomanagedclusters
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - clusters.verrazzano.io
    resources:
      - multiclusterapplicationconfigurations/status
      - multiclustercomponents/status
      - multiclusterconfigmaps/status
      - multiclusterloggingscopes/status
      - multiclustersecrets/status
      - verrazzanoprojects/status
      - verrazzanomanagedclusters/status
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
  - apiGroups:
      - core.oam.dev
    resources:
      - components
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      - update
  - apiGroups:
      - batch
    resources:
      - jobs
      - cronjobs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - mysql.oracle.com
    resources:
      - mysqlbackups
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
      - delete
  - apiGroups:
      - mysql.oracle.com
    resources:
      - mysqlbackups/status
    verbs:
      - get
      - patch
      - update
      - watch
---
# ClusterRole verrazzano-cluster-registrar is needed for Verrazzano managed cluster operations via Rancher proxy
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: verrazzano-cluster-registrar
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - update
      - list
      - get
      - watch
