# Copyright (c) 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
---
{{ if .Values.experimental.modules }}
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: modules.install.verrazzano.io
spec:
  group: install.verrazzano.io
  names:
    kind: Module
    listKind: ModuleList
    plural: modules
    singular: module
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: State of Module reconciliation
      jsonPath: .status.state
      name: Status
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              dependencies:
                items:
                  type: object
                type: array
              installer:
                properties:
                  helmChart:
                    properties:
                      monitorChanges:
                        type: boolean
                      name:
                        type: string
                      namespace:
                        type: string
                      overrides:
                        items:
                          properties:
                            configMapRef:
                              properties:
                                key:
                                  type: string
                                name:
                                  type: string
                                optional:
                                  type: boolean
                              required:
                              - key
                              type: object
                              x-kubernetes-map-type: atomic
                            secretRef:
                              properties:
                                key:
                                  type: string
                                name:
                                  type: string
                                optional:
                                  type: boolean
                              required:
                              - key
                              type: object
                              x-kubernetes-map-type: atomic
                            values:
                              x-kubernetes-preserve-unknown-fields: true
                          type: object
                        type: array
                      repository:
                        properties:
                          path:
                            type: string
                          secretRef:
                            type: string
                          uri:
                            type: string
                        type: object
                      version:
                        type: string
                    required:
                    - name
                    type: object
                type: object
            required:
            - installer
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      type: string
                    message:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                format: int64
                type: integer
              reconciledAt:
                type: string
              state:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
  {{ end }}
