# Copyright (C) 2020, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ .Values.name }}-webhook
  labels:
    app: {{ .Values.name }}-webhook
webhooks:
  - name: install.verrazzano.io
    namespaceSelector:
      matchExpressions:
        - { key: verrazzano.io/namespace, operator: NotIn, values: [ kube-system ] }
    clientConfig:
      service:
        name: {{ .Values.name }}-webhook
        namespace: {{ .Values.namespace }}
        path: /validate-install-verrazzano-io-v1alpha1-verrazzano
    rules:
      - apiGroups:
          - install.verrazzano.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - verrazzanos
    sideEffects: None
    failurePolicy: Fail
    matchPolicy: Exact
    timeoutSeconds: 30
    admissionReviewVersions:
      - v1beta1
      - v1
  - name: install.verrazzano.io.v1beta1
    namespaceSelector:
      matchExpressions:
        - { key: verrazzano.io/namespace, operator: NotIn, values: [ kube-system ] }
    clientConfig:
      service:
        name: {{ .Values.name }}-webhook
        namespace: {{ .Values.namespace }}
        path: /validate-install-verrazzano-io-v1beta1-verrazzano
    rules:
      - apiGroups:
          - install.verrazzano.io
        apiVersions:
          - v1beta1
        operations:
          - CREATE
          - UPDATE
        resources:
          - verrazzanos
    sideEffects: None
    failurePolicy: Fail
    matchPolicy: Exact
    timeoutSeconds: 30
    admissionReviewVersions:
      - v1beta1
      - v1
  - name: clusters.verrazzano.io
    namespaceSelector:
      matchExpressions:
        - { key: verrazzano.io/namespace, operator: NotIn, values: [ kube-system ] }
    clientConfig:
      service:
        name: {{ .Values.name }}-webhook
        namespace: {{ .Values.namespace }}
        path: /validate-clusters-verrazzano-io-v1alpha1-verrazzanomanagedcluster
    rules:
      - apiGroups:
          - clusters.verrazzano.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - verrazzanomanagedclusters
    sideEffects: None
    failurePolicy: Fail
    matchPolicy: Exact
    timeoutSeconds: 30
    admissionReviewVersions:
      - v1beta1
      - v1
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: verrazzano-platform-mysqlinstalloverrides
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
webhooks:
  - name: v1beta1-platform-mysqlinstalloverrides.verrazzano.io.v1beta1
    namespaceSelector:
      matchExpressions:
        - { key: verrazzano.io/namespace, operator: NotIn, values: [ kube-system ] }
    clientConfig:
      service:
        name: {{ .Values.name }}-webhook
        namespace: {{ .Values.namespace }}
        path: /v1beta1-validate-mysql-install-override-values
    rules:
      - apiGroups:
          - install.verrazzano.io
        apiVersions:
          - v1beta1
        operations:
          - UPDATE
        resources:
          - verrazzanos
    sideEffects: None
    failurePolicy: Fail
    matchPolicy: Exact
    timeoutSeconds: 30
    admissionReviewVersions:
      - v1beta1
      - v1
  - name: v1alpha1-platform-mysqlinstalloverrides.verrazzano.io.v1alpha1
    namespaceSelector:
      matchExpressions:
        - { key: verrazzano.io/namespace, operator: NotIn, values: [ kube-system ] }
    clientConfig:
      service:
        name: {{ .Values.name }}-webhook
        namespace: {{ .Values.namespace }}
        path: /v1alpha1-validate-mysql-install-override-values
    rules:
      - apiGroups:
          - install.verrazzano.io
        apiVersions:
          - v1alpha1
        operations:
          - UPDATE
        resources:
          - verrazzanos
    sideEffects: None
    failurePolicy: Fail
    matchPolicy: Exact
    timeoutSeconds: 30
    admissionReviewVersions:
      - v1beta1
      - v1
