# Copyright (c) 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
spec:
  components:
    applicationOperator:
      enabled: false
    authProxy:
      enabled: false
    capi:
      enabled: false
    certManager:
      enabled: false
    coherenceOperator:
      enabled: false
    console:
      enabled: false
    fluentd:
      enabled: false
    grafana:
      enabled: false
    ingressNGINX:
      enabled: false
    istio:
      enabled: false
    jaegerOperator:
      enabled: false
    keycloak:
      enabled: false
    kiali:
      enabled: false
    kubeStateMetrics:
      enabled: false
    mySQLOperator:
      enabled: false
    oam:
      enabled: false
    opensearch:
      enabled: false
      nodes:
        - name: es-master
          replicas: 1
          resources:
            requests:
              memory: 1G
          roles:
            - master
    opensearchDashboards:
      enabled: false
    prometheus:
      enabled: false
    prometheusAdapter:
      enabled: false
    prometheusNodeExporter:
      enabled: false
    prometheusOperator:
      enabled: false
    prometheusPushgateway:
      enabled: false
    rancher:
      enabled: false
    rancherBackup:
      enabled: false
    velero:
      enabled: false
    verrazzano:
      enabled: false
    weblogicOperator:
      enabled: false
    argoCD:
      enabled: false
    thanos:
      enabled: false
