# Copyright (c) 2020, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
name: verrazzano-platform-operator
namespace: verrazzano-install
namespaceLabelKey: verrazzano.io/namespace

global:
  imagePullSecrets: []

# NOTE: The image value gets set in the bill of materials file (verrazzano-bom.json) during the
# platform operator docker build.
image:
imagePullPolicy: IfNotPresent

# Default operator affinity rules
affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app
                operator: In
                values:
                  - verrazzano-platform-operator
          topologyKey: kubernetes.io/hostname
        weight: 100

# Default webhook deployment affinity rules
webhookAffinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app
                operator: In
                values:
                  - verrazzano-platform-operator-webhook
          topologyKey: kubernetes.io/hostname
        weight: 100
