# Copyright (c) 2021, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

# The coherence-operator image now comes from the bill of materials file (verrazzano-bom.json).
# This file only specifies the defaultCoherenceImage
defaultCoherenceImage: ghcr.io/oracle/coherence-ce:22.06.1

replicas: 1
