
# Copyright (c) 2020, 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

# NOTE: The image you're looking for isn't here. The external-dns image now comes from
# the bill of materials file (verrazzano-bom.json).

interval: "24h"
logLevel: info
registry: "txt"
policy: sync
provider: oci
sources:
  - service
  - ingress
  - istio-gateway
triggerLoopOnEvent: true

# Verrazzano container security standards
securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false

# Verrazzano pod security standards
podSecurityContext:
  fsGroup: 99 # Run as user/group nobody
  runAsGroup: 99
  runAsUser: 99
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault
