# Copyright (c) 2021, 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

controller:
  image:
    # NOTE: The image you're looking for isn't here. The nginx-ingress-controller image now comes from
    # the bill of materials file (verrazzano-bom.json).
    digest:
  config:
    client-body-buffer-size: 64k
    proxy-buffer-size: 8k
    log-format-escape-json: "true"
    log-format-upstream: '
      {
        "@timestamp": "$time_iso8601", 
        "req_id": "$req_id", 
        "proxy_upstream_name": "$proxy_upstream_name", 
        "proxy_alternative_upstream_name": "$proxy_alternative_upstream_name",
        "upstream_status": "$upstream_status", 
        "upstream_addr": "$upstream_addr",
        "message": "$request_method $host$request_uri", 
        "http_request": {
          "requestMethod": "$request_method", 
          "requestUrl": "$host$request_uri", 
          "status": $status,
          "requestSize": "$request_length", 
          "responseSize": "$upstream_response_length", 
          "userAgent": "$http_user_agent", 
          "remoteIp": "$remote_addr",
          "referer": "$http_referer", 
          "latency": "$upstream_response_time s", 
          "protocol":"$server_protocol"
        }
      }'
  metrics:
    enabled: true
  publishService:
    enabled: true
  service:
    enableHttp: false
  admissionWebhooks:
    enabled: false
  podAnnotations:
    prometheus.io/port: "10254"
    prometheus.io/scrape: "true"
    system.io/scrape: "true"
    traffic.sidecar.istio.io/excludeInboundPorts: "80,443"
    traffic.sidecar.istio.io/includeInboundPorts: ""
    sidecar.istio.io/rewriteAppHTTPProbers: "true"
  extraVolumeMounts:
    - mountPath: /usr/local/nginx/html
      name: custom-400-error
  extraVolumes:
    - name: custom-400-error
      configMap:
        name: ingress-controller-ingress-nginx-defaultbackend-custom-error-pages
        items:
          - key: 400.html
            path: 400.html
  extraArgs:
    ingress-class: verrazzano-nginx
  # -- Process Ingress objects without ingressClass annotation/ingressClassName field
  # Overrides value for --watch-ingress-without-class flag of the controller binary
  # Defaults to false
  watchIngressWithoutClass: true
  # -- This configuration defines if Ingress Controller should allow users to set
  # their own *-snippet annotations, otherwise this is forbidden / dropped
  # when users add those annotations.
  # Global snippets in ConfigMap are still respected
  allowSnippetAnnotations: false
  # Use IngressClass to prevent Ingress Controller race conditions
  ingressClassByName: true
  ingressClassResource:
    name: verrazzano-nginx  # default: nginx
    enabled: true
    # There may be ingress controllers already present on the cluster, so we set
    # default to false to prevent conflicts.
    default: false
    controllerValue: "k8s.io/verrazzano-ingress-nginx"
  podSecurityContext:
    runAsUser: 101  # www-data container user
    runAsGroup: 101 # www-data container group
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      add:
        - NET_BIND_SERVICE
      drop:
        - ALL
    privileged: false

defaultBackend:
  # NOTE: The image you're looking for isn't here. The nginx-ingress-default-backend image now comes from
  # the bill of materials file (verrazzano-bom.json).
  enabled: true

  podAnnotations:
    traffic.sidecar.istio.io/excludeInboundPorts: "8080"

  extraVolumeMounts:
    - name: error-pages
      mountPath: /www

  extraVolumes:
    - name: error-pages
      configMap:
        name: ingress-controller-ingress-nginx-defaultbackend-custom-error-pages
        items:
          - key: 301.html
            path: 301.html
          - key: 302.html
            path: 302.html
          - key: 304.html
            path: 304.html
          - key: 307.html
            path: 307.html
          - key: 308.html
            path: 308.html
          - key: 400.html
            path: 400.html
          - key: 401.html
            path: 401.html
          - key: 403.html
            path: 403.html
          - key: 404.html
            path: 404.html
          - key: 407.html
            path: 407.html
          - key: 408.html
            path: 408.html
          - key: 409.html
            path: 409.html
          - key: 413.html
            path: 413.html
          - key: 414.html
            path: 414.html
          - key: 415.html
            path: 415.html
          - key: 416.html
            path: 416.html
          - key: 418.html
            path: 418.html
          - key: 421.html
            path: 421.html
          - key: 429.html
            path: 429.html
          - key: 431.html
            path: 431.html
          - key: 500.html
            path: 500.html
          - key: 501.html
            path: 501.html
          - key: 502.html
            path: 502.html
          - key: 503.html
            path: 503.html
          - key: 504.html
            path: 504.html
          - key: 505.html
            path: 505.html
          - key: 301.html
            path: 301.htm
          - key: 302.html
            path: 302.htm
          - key: 304.html
            path: 304.htm
          - key: 307.html
            path: 307.htm
          - key: 308.html
            path: 308.htm
          - key: 400.html
            path: 400.htm
          - key: 401.html
            path: 401.htm
          - key: 403.html
            path: 403.htm
          - key: 404.html
            path: 404.htm
          - key: 407.html
            path: 407.htm
          - key: 408.html
            path: 408.htm
          - key: 409.html
            path: 409.htm
          - key: 413.html
            path: 413.htm
          - key: 414.html
            path: 414.htm
          - key: 415.html
            path: 415.htm
          - key: 416.html
            path: 416.htm
          - key: 418.html
            path: 418.htm
          - key: 421.html
            path: 421.htm
          - key: 429.html
            path: 429.htm
          - key: 431.html
            path: 431.htm
          - key: 500.html
            path: 500.htm
          - key: 501.html
            path: 501.htm
          - key: 502.html
            path: 502.htm
          - key: 503.html
            path: 503.htm
          - key: 504.html
            path: 504.htm
          - key: 505.html
            path: 505.htm
          - key: 301.json
            path: 301.json
          - key: 302.json
            path: 302.json
          - key: 304.json
            path: 304.json
          - key: 307.json
            path: 307.json
          - key: 308.json
            path: 308.json
          - key: 400.json
            path: 400.json
          - key: 401.json
            path: 401.json
          - key: 403.json
            path: 403.json
          - key: 404.json
            path: 404.json
          - key: 407.json
            path: 407.json
          - key: 408.json
            path: 408.json
          - key: 409.json
            path: 409.json
          - key: 413.json
            path: 413.json
          - key: 414.json
            path: 414.json
          - key: 415.json
            path: 415.json
          - key: 416.json
            path: 416.json
          - key: 418.json
            path: 418.json
          - key: 421.json
            path: 421.json
          - key: 429.json
            path: 429.json
          - key: 431.json
            path: 431.json
          - key: 500.json
            path: 500.json
          - key: 501.json
            path: 501.json
          - key: 502.json
            path: 502.json
          - key: 503.json
            path: 503.json
          - key: 504.json
            path: 504.json
          - key: 505.json
            path: 505.json

  podSecurityContext:
    runAsUser: 65534  # nobody container user
    runAsGroup: 65534 # nobody container group
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault

  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    privileged: false
