# Copyright (c) 2021, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

# NOTE: The image you're looking for isn't here. The mysql and linux images now come from
# the bill of materials file (verrazzano-bom.json).

imagePullPolicy: IfNotPresent

auth:
  strategy: anonymous

istio_namespace: istio-system

deployment:
  version_label: v1.57.1
  # The platform operator will manage the Kiali ingress
  ingress_enabled: false
  instance_name: vmi-system-kiali
  view_only_mode: true

kubernetes_config:
# The default was to exclude Jobs also which caused repetitive error logging from Kiali
  excluded_workloads:
  - "CronJob"
  - "DeploymentConfig"
  - "ReplicationController"

external_services:
  prometheus:
    url: http://prometheus-operator-kube-p-prometheus.verrazzano-monitoring.svc.cluster.local:9090
  grafana:
    enabled: false
  tracing:
    enabled: false

server:
  web_root: ""

### Turn Grafana off, Integration story still being worked
#   grafana:
#     auth:
#       insecure_skip_verify: true
#       type: basic
#       username: "username"
#       password: "password"
#       dashboards:
#       - name: "Istio Workload Dashboard"
#       variables:
#         namespace: "var-namespace"
#         workload: "var-workload"
#       enabled: true
#       in_cluster_url: "http://vmi-system-grafana.verrazzano-system:3000"
#       url: "https://grafana.vmi.system.default.123.456.78.90.nip.io"
### Turn Tracing off, Jaeger not installed yet
#  tracing:
#    auth:
#      type: none
#    enabled: true
#    in_cluster_url: 'http://tracing.verrazzano-system/jaeger'
#    use_grpc: false
