# Copyright (c) 2021, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

# NOTE: The image you're looking for isn't here. The mysql and linux images now come from
# the bill of materials file (verrazzano-bom.json).

image:
  pullPolicy: IfNotPresent

## Add an init container to chown the data directory to be owned by the mysql user
## (uid=27 gid=27) so that when upgrading, mysql user can definitely access data dir
## from previous volume. The Helm chart expects this to be a STRING, so using a multi-line string here
## Note: if the Helm chart for MySQL changes, this should be reviewed for correctness
primary:
  podLabels:
    app: "mysql"
  initContainers:
  - command:
      - chown
      - -R
      - 27:27
      - /var/lib/mysql
    image: "ghcr.io/oracle/oraclelinux:7-slim"
    imagePullPolicy: IfNotPresent
    name: chown-data-dir
    resources:
      requests:
        cpu: 10m
        memory: 10Mi
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: File
    volumeMounts:
      - mountPath: /var/lib/mysql
        name: data
serviceAccount:
  create: false
