# Copyright (c) 2022, 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

serviceMonitor:
  namespace: verrazzano-monitoring
persistentVolume:
  enabled: false
podLabels:
  sidecar.istio.io/inject: "false"
securityContext:
  runAsGroup: 65534
  seccompProfile:
    type: RuntimeDefault
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false
  readOnlyRootFilesystem: true
