# Copyright (c) 2022, 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

# The way the daemonset name is defined results in a very long name with duplication (using the Chart name +
# release name). Instead override the full name of the daemonset to what we want.
fullName: prometheus-node-exporter

# Prometheus ServiceMonitor settings
prometheus:
  monitor:
    relabelings:
      - action: replace
        targetLabel: verrazzano_cluster
        replacement: local
      # preserve job name compatibility with the old node-exporter
      - action: replace
        sourceLabels:
        - job
        targetLabel: job
        replacement: node-exporter

securityContext:
  seccompProfile:
    type: RuntimeDefault


containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false
  readOnlyRootFilesystem: true
