# Copyright (C) 2020, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
---
apiVersion: v1
kind: Namespace
metadata:
  name: verrazzano-install
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: verrazzano-platform-operator
  namespace: verrazzano-install
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: verrazzano-platform-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: verrazzano-platform-operator
    namespace: verrazzano-install
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: verrazzano-platform-operator
  namespace: verrazzano-install
  labels:
    app: verrazzano-platform-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: verrazzano-platform-operator
  template:
    metadata:
      labels:
        app: verrazzano-platform-operator
    spec:
      containers:
        - name: verrazzano-platform-operator
          imagePullPolicy: IfNotPresent
          image: ghcr.io/verrazzano/verrazzano-platform-operator:0.6.0-20201209125239-eac9b72
          args:
            - --zap-log-level=info
          env:
            - name: MODE
              value: RUN_OPERATOR
            - name: VZ_INSTALL_IMAGE
              value: ghcr.io/verrazzano/verrazzano-platform-operator:0.6.0-20201209125239-eac9b72
          volumeMounts:
            - name: webhook-certs
              mountPath: /etc/webhook/certs
          resources:
            requests:
              memory: 72Mi
      volumes:
        - name: webhook-certs
          emptyDir: {}
      serviceAccountName: verrazzano-platform-operator
---
apiVersion: v1
kind: Service
metadata:
  name: verrazzano-platform-operator
  namespace: verrazzano-install
  labels:
    app: verrazzano-platform-operator
spec:
  ports:
    - name: webhook
      port: 443
      targetPort: 9443
  selector:
    name: verrazzano-platform-operator
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingWebhookConfiguration
metadata:
  name: verrazzano-platform-operator
  labels:
    app: verrazzano-platform-operator
webhooks:
  - name: install.verrazzano.io
    clientConfig:
      service:
        name: verrazzano-platform-operator
        namespace: verrazzano-install
        path: /validate-install-verrazzano-io-v1alpha1-verrazzano
      # caBundle will be set by the verrazzano-platform_operator after certs are created
      caBundle: ""
    rules:
      - apiGroups:
          - install.verrazzano.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - verrazzanos
    sideEffects: None
    failurePolicy: Fail
# Copyright (c) 2020, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: verrazzanos.install.verrazzano.io
spec:
  group: install.verrazzano.io
  names:
    kind: Verrazzano
    listKind: VerrazzanoList
    plural: verrazzanos
    shortNames:
    - vz
    - vzs
    singular: verrazzano
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The current status of the install/uninstall
      jsonPath: .status.conditions[-1:].type
      name: Status
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Verrazzano is the Schema for the verrazzanos API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VerrazzanoSpec defines the desired state of Verrazzano
            properties:
              components:
                description: Core specifies core Verrazzano configuration
                properties:
                  certManager:
                    description: CertManager contains the CertManager component configuration
                    properties:
                      certificate:
                        description: Certificate used for an install
                        properties:
                          acme:
                            description: ACME cert issuer
                            properties:
                              emailAddress:
                                description: email address
                                type: string
                              environment:
                                description: environment
                                type: string
                              provider:
                                description: Type of provider for ACME cert issuer.
                                type: string
                            required:
                            - provider
                            type: object
                          ca:
                            description: CA cert issuer
                            properties:
                              clusterResourceNamespace:
                                description: Namespace where secret is located for
                                  CA cert issuer
                                type: string
                              secretName:
                                description: Name of secret for CA cert issuer
                                type: string
                            required:
                            - clusterResourceNamespace
                            - secretName
                            type: object
                        type: object
                    type: object
                  dns:
                    description: DNS contains the DNS component configuration
                    properties:
                      external:
                        description: DNS type of external. For example, OLCNE uses
                          this type.
                        properties:
                          suffix:
                            description: DNS suffix appended to EnviromentName to
                              form DNS name
                            type: string
                        required:
                        - suffix
                        type: object
                      oci:
                        description: DNS type of OCI (Oracle Cloud Infrastructure)
                        properties:
                          dnsZoneCompartmentOCID:
                            type: string
                          dnsZoneName:
                            type: string
                          dnsZoneOCID:
                            type: string
                          ociConfigSecret:
                            type: string
                        required:
                        - dnsZoneCompartmentOCID
                        - dnsZoneName
                        - dnsZoneOCID
                        - ociConfigSecret
                        type: object
                      xip.io:
                        description: DNS type of xio.io.  This is the default.
                        type: object
                    type: object
                  ingress:
                    description: Ingress contains the ingress-nginx component configuration
                    properties:
                      nginxInstallArgs:
                        description: Arguments for installing nginx
                        items:
                          description: InstallArgs identifies a name/value or name/value
                            list needed for install. Value and ValueList cannot both
                            be specified.
                          properties:
                            name:
                              description: Name of install argument
                              type: string
                            setString:
                              description: If the Value is a literal string
                              type: boolean
                            value:
                              description: Value for named install argument
                              type: string
                            valueList:
                              description: List of values for named install argument
                              items:
                                type: string
                              type: array
                          required:
                          - name
                          type: object
                        type: array
                      ports:
                        description: Ports to be used for nginx
                        items:
                          description: ServicePort contains information on service's
                            port.
                          properties:
                            appProtocol:
                              description: The application protocol for this port.
                                This field follows standard Kubernetes label syntax.
                                Un-prefixed names are reserved for IANA standard service
                                names (as per RFC-6335 and http://www.iana.org/assignments/service-names).
                                Non-standard protocols should use prefixed names such
                                as mycompany.com/my-custom-protocol. Field can be
                                enabled with ServiceAppProtocol feature gate.
                              type: string
                            name:
                              description: The name of this port within the service.
                                This must be a DNS_LABEL. All ports within a ServiceSpec
                                must have unique names. When considering the endpoints
                                for a Service, this must match the 'name' field in
                                the EndpointPort. Optional if only one ServicePort
                                is defined on this service.
                              type: string
                            nodePort:
                              description: 'The port on each node on which this service
                                is exposed when type=NodePort or LoadBalancer. Usually
                                assigned by the system. If specified, it will be allocated
                                to the service if unused or else creation of the service
                                will fail. Default is to auto-allocate a port if the
                                ServiceType of this Service requires one. More info:
                                https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport'
                              format: int32
                              type: integer
                            port:
                              description: The port that will be exposed by this service.
                              format: int32
                              type: integer
                            protocol:
                              description: The IP protocol for this port. Supports
                                "TCP", "UDP", and "SCTP". Default is TCP.
                              type: string
                            targetPort:
                              anyOf:
                              - type: integer
                              - type: string
                              description: 'Number or name of the port to access on
                                the pods targeted by the service. Number must be in
                                the range 1 to 65535. Name must be an IANA_SVC_NAME.
                                If this is a string, it will be looked up as a named
                                port in the target Pod''s container ports. If this
                                is not specified, the value of the ''port'' field
                                is used (an identity map). This field is ignored for
                                services with clusterIP=None, and should be omitted
                                or set equal to the ''port'' field. More info: https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service'
                              x-kubernetes-int-or-string: true
                          required:
                          - port
                          type: object
                        type: array
                      type:
                        description: Type of ingress.  Default is LoadBalancer
                        type: string
                    type: object
                  istio:
                    description: Istio contains the istio component configuration
                    properties:
                      istioInstallArgs:
                        description: Arguments for installing istio
                        items:
                          description: InstallArgs identifies a name/value or name/value
                            list needed for install. Value and ValueList cannot both
                            be specified.
                          properties:
                            name:
                              description: Name of install argument
                              type: string
                            setString:
                              description: If the Value is a literal string
                              type: boolean
                            value:
                              description: Value for named install argument
                              type: string
                            valueList:
                              description: List of values for named install argument
                              items:
                                type: string
                              type: array
                          required:
                          - name
                          type: object
                        type: array
                    type: object
                type: object
              environmentName:
                description: EnvironmentName identifies install environment.  Default
                  environment name is "default".
                type: string
              profile:
                description: Profile is the name of the profile to install.  Default
                  is "prod".
                type: string
              version:
                description: Version is the Verrazzano version
                type: string
            type: object
          status:
            description: VerrazzanoStatus defines the observed state of Verrazzano
            properties:
              conditions:
                description: The latest available observations of an object's current
                  state.
                items:
                  description: Condition describes current state of an install.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human readable message indicating details about
                        last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              version:
                description: The version of Verrazzano that is installed
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
