# Copyright (c) 2020, 2021, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: verrazzanomanagedclusters.clusters.verrazzano.io
spec:
  group: clusters.verrazzano.io
  names:
    kind: VerrazzanoManagedCluster
    listKind: VerrazzanoManagedClusterList
    plural: verrazzanomanagedclusters
    shortNames:
    - vmc
    - vmcs
    singular: verrazzanomanagedcluster
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VerrazzanoManagedCluster is the Schema for the Verrazzanomanagedclusters
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VerrazzanoManagedClusterSpec defines the desired state of
              VerrazzanoManagedCluster
            properties:
              description:
                description: The description of the managed cluster.
                type: string
              managedClusterManifestSecret:
                description: The name of the secret containing generated YAML manifest
                  to be applied by the user to the managed cluster. This field is
                  managed by a Verrazzano Kubernetes operator.
                type: string
              prometheusSecret:
                description: The name of a secret that contains the credentials for
                  scraping from the prometheus endpoint on the managed cluster.  The
                  secret contains the endpoint, username and password.
                type: string
              serviceAccount:
                description: The name of the ServiceAccount that was generated for
                  the managed cluster. This field is managed by a Verrazzano Kubernetes
                  operator.
                type: string
            required:
            - prometheusSecret
            type: object
          status:
            description: VerrazzanoManagedClusterStatus defines the observed state
              of VerrazzanoManagedCluster
            properties:
              apiUrl:
                description: Verrazzano API Server URL for the managed cluster.
                type: string
              lastAgentConnectTime:
                description: Last time the agent from this managed cluster connected
                  to the admin cluster.
                format: date-time
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
