# Copyright (c) 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: operatordefinitions.platform.verrazzano.io
spec:
  group: platform.verrazzano.io
  names:
    kind: OperatorDefinition
    listKind: OperatorDefinitionList
    plural: operatordefinitions
    shortNames:
    - opdef
    - opdefs
    singular: operatordefinition
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              crds:
                items:
                  properties:
                    name:
                      type: string
                    supportedVersions:
                      type: string
                    version:
                      type: string
                    wait:
                      type: boolean
                    waitTimeout:
                      type: string
                  required:
                  - name
                  type: object
                type: array
              lifecycleClass:
                type: string
              operators:
                items:
                  properties:
                    name:
                      type: string
                    supportedVersions:
                      type: string
                    version:
                      type: string
                    wait:
                      type: boolean
                    waitTimeout:
                      type: string
                  required:
                  - name
                  type: object
                type: array
            type: object
          status:
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
