# Copyright (c) 2021, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

spec:
  components:
    elasticsearch:
      enabled: true
      installArgs:
      - name: nodes.master.replicas
        value: "3"
      - name: nodes.master.requests.memory
        value: "1.4Gi"
      - name: nodes.ingest.replicas
        value: "1"
      - name: nodes.ingest.requests.memory
        value: "2.5Gi"
      - name: nodes.data.replicas
        value: "3"
      - name: nodes.data.requests.memory
        value: "4.8Gi"
      - name: nodes.data.requests.storage
        value: "50Gi"
      - name: nodes.master.requests.storage
        value: "50Gi"
    authproxy:
      kubernetes:
        replicas: 2
    certManager:
      enabled: true
      certificate:
        ca:
          secretName: "verrazzano-ca-certificate-secret"
          clusterResourceNamespace: "cert-manager"
      overrides:
        - values:
            replicaCount: 2
            cainjector:
              replicaCount: 2
            webhook:
              replicaCount: 2
    console:
      overrides:
        - values:
            replicas: 2
    grafana:
      enabled: true
      replicas: 2
      database:
        host: mysql.keycloak.svc.cluster.local:3306
        name: grafanadb
        rootSecret:
          namespace: keycloak
          name: mysql
          key: mysql-root-password
    istio:
      ingress:
        kubernetes:
          replicas: 2
      egress:
        kubernetes:
          replicas: 2
    kibana:
      replicas: 2
    kiali:
      overrides:
        - values:
            deployment:
              replicas: 2
    prometheusOperator:
      prometheusSpec:
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName:
                resources:
                  requests:
                    storage: "50Gi"
                    memory: "128Mi"
