# Copyright (c) 2021, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

spec:
  components:
    elasticsearch:
      enabled: true
      installArgs:
      - name: nodes.master.replicas
        value: "3"
      - name: nodes.master.requests.memory
        value: "1.4Gi"
      - name: nodes.ingest.replicas
        value: "1"
      - name: nodes.ingest.requests.memory
        value: "2.5Gi"
      - name: nodes.data.replicas
        value: "3"
      - name: nodes.data.requests.memory
        value: "4.8Gi"
      - name: nodes.data.requests.storage
        value: "50Gi"
      - name: nodes.master.requests.storage
        value: "50Gi"
    authproxy:
      kubernetes:
        replicas: 2
    certManager:
      enabled: true
      certificate:
        ca:
          secretName: "verrazzano-ca-certificate-secret"
          clusterResourceNamespace: "cert-manager"
      overrides:
        - values:
            replicaCount: 2
            cainjector:
              replicaCount: 2
            webhook:
              replicaCount: 2
    console:
      overrides:
        - values:
            replicas: 2
    ingress:
      overrides:
        - values:
            controller:
              autoscaling:
                enabled: true
                minReplicas: 2
            defaultBackend:
              replicaCount: 2
    istio:
      overrides:
        - values:
            apiVersion: install.istio.io/v1alpha1
            kind: IstioOperator
            spec:
              components:
                pilot:
                  k8s:
                    replicaCount: 2
      ingress:
        kubernetes:
          replicas: 2
      egress:
        kubernetes:
          replicas: 2
    kibana:
      replicas: 2
    kiali:
      overrides:
        - values:
            deployment:
              replicas: 2
    prometheusOperator:
      overrides:
        - values:
            prometheus:
              prometheusSpec:
                replicas: 2
                resources:
                  requests:
                    memory: "128Mi"
