# Copyright (c) 2020, 2021, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
name: verrazzano

global:
  imagePullSecrets: []

image:
  pullPolicy: Always
  terminationGracePeriodSeconds: 60

appBinding:
  useSystemVMI: false

elasticSearch:
  nodes:
    master:
      replicas: 3
      requests:
        memory: 1.4Gi
    data:
      replicas: 2
      requests:
        memory: 4.8Gi
    ingest:
      replicas: 1
      requests:
        memory: 2.5Gi

verrazzanoOperator:
  name: verrazzano-operator
  imageName: ghcr.io/verrazzano/verrazzano-operator
  imageVersion: 0.8.0-20201223143759-ba517ea
  cohMicroImage: ghcr.io/verrazzano/verrazzano-coh-cluster-operator:0.8.0-20201218184638-ae25fcc
  helidonMicroImage: ghcr.io/verrazzano/verrazzano-helidon-app-operator:0.8.0-20201218185017-e613ee2
  wlsMicroImage: ghcr.io/verrazzano/verrazzano-wko-operator:0.8.0-20201218184908-e3e3dd3
  prometheusPusherImage: ghcr.io/verrazzano/prometheus-pusher:1.0.1-20201016212958-5b64612
  nodeExporterImage: ghcr.io/verrazzano/node-exporter:0.18.1-20201016212926-e3dc9ad
  filebeatImage: ghcr.io/verrazzano/filebeat:6.8.3-20201016212236-05eabe44b
  journalbeatImage: ghcr.io/verrazzano/journalbeat:6.8.3-20201016212623-05eabe44b
  weblogicOperatorImage: oracle/weblogic-kubernetes-operator:3.0.2
  fluentdImage: ghcr.io/verrazzano/fluentd-kubernetes-daemonset:v1.10.4-20201016214205-7f37ac6
  apiServerRealm: verrazzano-system
  RequestMemory: 72Mi
  cohMicroRequestMemory: 28Mi
  helidonMicroRequestMemory: 24Mi
  wlsMicroRequestMemory: 32Mi
  esDataStorageSize: 50Gi
  grafanaRequestMemory: 48Mi
  grafanaDataStorageSize: 50Gi
  prometheusRequestMemory: 128Mi
  prometheusDataStorageSize: 50Gi
  kibanaRequestMemory: 192Mi

monitoringOperator:
  name: verrazzano-monitoring-operator
  imageName: ghcr.io/verrazzano/verrazzano-monitoring-operator
  imageVersion: 0.8.0-20201221212648-684fe83
  metricsPort: 8090
  defaultSimpleCompReplicas: 1
  defaultPrometheusReplicas: 1
  grafanaImage: ghcr.io/verrazzano/grafana:v6.4.4
  prometheusImage: ghcr.io/verrazzano/prometheus:v2.13.1
  prometheusInitImage: ghcr.io/oracle/oraclelinux:7-slim
  prometheusGatewayImage: ghcr.io/verrazzano/prometheus-pushgateway:1.2.0-20201016205229-164dd8b
  alertManagerImage: "noimage"
  esWaitTargetVersion: 7.6.1
  esImage: ghcr.io/verrazzano/elasticsearch:7.6.1-20201130145440-5c76ab1
  esWaitImage: ghcr.io/verrazzano/verrazzano-monitoring-instance-eswait:0.8.0-20201221212648-684fe83
  esInitImage: ghcr.io/oracle/oraclelinux:7.8
  kibanaImage: ghcr.io/verrazzano/kibana:7.6.1-20201130145840-7717e73
  monitoringInstanceApiImage: ghcr.io/verrazzano/verrazzano-monitoring-instance-api:0.8.0-20201221212735-92a3413
  configReloaderImage: ghcr.io/verrazzano/configmap-reload:0.3-20201016205243-4f24a0e
  nodeExporterImage: ghcr.io/verrazzano/node-exporter:0.18.1-20201016212926-e3dc9ad
  RequestMemory: 48Mi

clusterOperator:
  name: verrazzano-cluster-operator
  imageName: ghcr.io/verrazzano/verrazzano-cluster-operator
  imageVersion: 0.8.0-20201218185017-5e9c62f
  RequestMemory: 27Mi
  rancherURL:
  rancherUserName:
  rancherPassword:
  rancherHostname:

verrazzanoAdmissionController:
  name: verrazzano-validation
  controllerName: verrazzano-admission-controller
  imageName: ghcr.io/verrazzano/verrazzano-admission-controller
  imageVersion: 0.8.0-20201221221835-6c6f18e
  caBundle:
  RequestMemory: 15Mi

console:
  name: verrazzano-console
  imageName: ghcr.io/verrazzano/console
  imageVersion: 0.8.0-20201222142451-75c551d

# OCI-related values
oci:
  region: ""
  tenancyOcid: ""
  userOcid: ""
  fingerprint: ""
  privateKey: ""
  compartment: ""
  clusterOcid: ""
  objectStore:
    bucketName: ""
    namespace: ""

config:
  envName:
  dnsSuffix: verrazzano.io
  enableMonitoringStorage: true
