# Copyright (c) 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

name: verrazzano-authproxy
namespace: verrazzano-system

global:
  imagePullSecrets: []

replicas:
# NOTE: The AuthProxy deployment runs the nginx-ingress-controller image.  The nginx-ingress-controller image
# is obtained from the bill of materials file (verrazzano-bom.json).
pullPolicy: IfNotPresent
port: 8775
impersonatorRoleName: impersonate-api-user
managedClusterRegistered: false
proxy:
  OidcRealm: verrazzano-system
  PKCEClientID: verrazzano-pkce
  PGClientID: verrazzano-pg
  RequiredRealmRole: vz_api_access
  OidcCallbackPath: /_authentication_callback
  OidcLogoutCallbackPath: /_logout
  OidcSingleLogoutCallbackPath: /_single_logout
  OidcProviderHost:
  OidcProviderHostInCluster:
  AuthnStateTTL: "300"
  MaxRequestSize: 65m
  ProxyBufferSize: 8k

affinity:

config:
  envName:
  dnsSuffix:
  prometheusOperatorEnabled:
  ingressClassName:

dns:
  wildcard:
    domain:
