# Copyright (c) 2020, 2021, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
name: verrazzano

global:
  imagePullSecrets: []

image:
  pullPolicy: Always
  terminationGracePeriodSeconds: 60

appBinding:
  useSystemVMI: true

elasticSearch:
  nodes:
    master:
      replicas: 3
      requests:
        memory: 1.4Gi
    data:
      replicas: 2
      requests:
        memory: 4.8Gi
    ingest:
      replicas: 1
      requests:
        memory: 2.5Gi

verrazzanoOperator:
  name: verrazzano-operator
  imageName: ghcr.io/verrazzano/verrazzano-operator-jenkins
  imageVersion: 0.9.0-20210205011827-41e96e7
  prometheusPusherImage: ghcr.io/verrazzano/prometheus-pusher:1.0.1-20201016212958-5b64612
  nodeExporterImage: ghcr.io/verrazzano/node-exporter:0.18.1-20201016212926-e3dc9ad
  filebeatImage: ghcr.io/verrazzano/filebeat:6.8.3-20201016212236-05eabe44b
  journalbeatImage: ghcr.io/verrazzano/journalbeat:6.8.3-20201016212623-05eabe44b
  fluentdImage: ghcr.io/verrazzano/fluentd-kubernetes-daemonset:v1.10.4-20201016214205-7f37ac6
  apiServerRealm: verrazzano-system
  RequestMemory: 72Mi
  cohMicroRequestMemory: 28Mi
  helidonMicroRequestMemory: 24Mi
  wlsMicroRequestMemory: 32Mi
  esDataStorageSize: 50Gi
  grafanaRequestMemory: 48Mi
  grafanaDataStorageSize: 50Gi
  prometheusRequestMemory: 128Mi
  prometheusDataStorageSize: 50Gi
  kibanaRequestMemory: 192Mi

monitoringOperator:
  name: verrazzano-monitoring-operator
  imageName: ghcr.io/verrazzano/verrazzano-monitoring-operator
  imageVersion: 0.9.0-20210121215221-0cea059
  metricsPort: 8090
  defaultSimpleCompReplicas: 1
  defaultPrometheusReplicas: 1
  grafanaImage: ghcr.io/verrazzano/grafana:v6.4.4
  prometheusImage: ghcr.io/verrazzano/prometheus:v2.13.1
  prometheusInitImage: ghcr.io/oracle/oraclelinux:7-slim
  prometheusGatewayImage: ghcr.io/verrazzano/prometheus-pushgateway:1.2.0-20201016205229-164dd8b
  alertManagerImage: "noimage"
  esWaitTargetVersion: 7.6.1
  esImage: ghcr.io/verrazzano/elasticsearch:7.6.1-20201130145440-5c76ab1
  esWaitImage: ghcr.io/verrazzano/verrazzano-monitoring-instance-eswait:0.9.0-20210121215221-0cea059
  esInitImage: ghcr.io/oracle/oraclelinux:7.8
  kibanaImage: ghcr.io/verrazzano/kibana:7.6.1-20201130145840-7717e73
  monitoringInstanceApiImage: ghcr.io/verrazzano/verrazzano-monitoring-instance-api:0.9.0-20210121214943-6246c50
  configReloaderImage: ghcr.io/verrazzano/configmap-reload:0.3-20201016205243-4f24a0e
  nodeExporterImage: ghcr.io/verrazzano/node-exporter:0.18.1-20201016212926-e3dc9ad
  RequestMemory: 48Mi

clusterOperator:
  name: verrazzano-cluster-operator
  imageName: ghcr.io/verrazzano/verrazzano-cluster-operator
  imageVersion: 0.9.0-20210121214611-0810b05
  RequestMemory: 27Mi
  rancherURL:
  rancherUserName:
  rancherPassword:
  rancherHostname:

console:
  name: verrazzano-console
  imageName: ghcr.io/verrazzano/console
  imageVersion: 0.9.0-20210202153634-5d96a30

api:
  name: verrazzano-api
  imageName: ghcr.io/verrazzano/nginx-ingress-controller
  imageVersion: 0.32-20210122132046-a84f6166a
  pullPolicy: Always
  port: 8775
  clusterRole: console
  consoleUserGroup: console-users
  consoleUser: console-user

# OCI-related values
oci:
  region: ""
  tenancyOcid: ""
  userOcid: ""
  fingerprint: ""
  privateKey: ""
  compartment: ""
  clusterOcid: ""
  objectStore:
    bucketName: ""
    namespace: ""

config:
  envName:
  dnsSuffix: verrazzano.io
  enableMonitoringStorage: true
