# Copyright (c) 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

# Network policy for Verrazzano monitoring wls
# Ingress: allow Prometheus to scrape Envoy stats on port 15090
# Egress: allow all
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Values.monitoringOperator.name }}
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      k8s-app: {{ .Values.monitoringOperator.name }}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              verrazzano.io/namespace: verrazzano-monitoring
          podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
      ports:
        - port: 15090
          protocol: TCP
        - port: 9100
          protocol: TCP
