# Copyright (c) 2021, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

# Network policy for Verrazzano API Proxy
# Ingress: allow nginx-ingress-controller to connect to port 8775
#          allow connect from Prometheus to scrape Envoy stats on port 15090
# Egress: allow all
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: verrazzano-authproxy
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      app: verrazzano-authproxy
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              verrazzano.io/namespace: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/instance: ingress-controller
      ports:
        - protocol: TCP
          port: 8775
    - from:
        - namespaceSelector:
            matchLabels:
              verrazzano.io/namespace: verrazzano-system
          podSelector:
            matchLabels:
              app: fluentd
      ports:
        - protocol: TCP
          port: 8775
{{- if .Values.jaegerOperator.enabled }}
    - from:
        - namespaceSelector:
            matchLabels:
              verrazzano.io/namespace: {{ .Values.jaegerOperator.namespace }}
          podSelector:
            matchLabels:
              app: jaeger
      ports:
        - protocol: TCP
          port: 8775
{{- end }}
    - from:
        - namespaceSelector:
            matchLabels:
              verrazzano.io/namespace: verrazzano-monitoring
          podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
      ports:
        - port: 15090
          protocol: TCP
        - port: 9113
          protocol: TCP
{{- if .Values.console.enabled }}
---
# Network policy for Verrazzano console
# Ingress: allow nginx-ingress-controller to connect to port 8000
#          allow connect from Prometheus to scrape Envoy stats on port 15090
# Egress: allow all
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: verrazzano-console
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      app: verrazzano-console
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              verrazzano.io/namespace: verrazzano-system
          podSelector:
            matchLabels:
              app: verrazzano-authproxy
      ports:
        - protocol: TCP
          port: 8000
    - from:
        - namespaceSelector:
            matchLabels:
              verrazzano.io/namespace: verrazzano-monitoring
          podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
      ports:
        - port: 15090
          protocol: TCP
{{- end }}
---
# Network policy for Verrazzano application operator
# Ingress: allow access from Kubernetes API server for webhook port 9443
# Egress: allow all
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: verrazzano-application-operator
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      app: verrazzano-application-operator
  policyTypes:
    - Ingress
  ingress:
    - ports:
        - port: 9443
          protocol: TCP
    - from:
        - namespaceSelector:
            matchLabels:
              verrazzano.io/namespace: verrazzano-monitoring
          podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
      ports:    
        - port: 9100
          protocol: TCP
---
# Network policy for OAM Kubernetes Runtime operator
# Ingress: deny all
# Egress: allow all
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: oam-kubernetes-runtime
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: oam-kubernetes-runtime
  policyTypes:
    - Ingress
{{- if .Values.jaegerOperator.enabled }}
---
# Network policy for Jaeger Collector
# Ingress: allow access to connect to Jaeger Collector ports 9411 and 14250
#          allow access from Prometheus to scrape Jaeger Collector metrics on port ports 14269
#          allow access from Prometheus to scrape Envoy stats on port 15090
# Egress: allow all
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: jaeger-collector
  namespace: {{ .Values.jaegerOperator.namespace }}
spec:
  podSelector:
    matchLabels:
      app: jaeger
      app.kubernetes.io/component: collector
      app.kubernetes.io/managed-by: jaeger-operator
  policyTypes:
    - Ingress
  ingress:
    - ports:
        - port: 9411
          protocol: TCP
        - port: 14250
          protocol: TCP
    - from:
        - namespaceSelector:
            matchLabels:
              verrazzano.io/namespace: verrazzano-monitoring
          podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
      ports:
        - port: 14269
          protocol: TCP
        - port: 15090
          protocol: TCP
---
# Network policy for Jaeger Query
# Ingress: allow access from Prometheus to scrape Jaeger Query metrics on port ports 14271 and 16687
#          allow access from Prometheus to scrape Envoy stats on port 15090
#          allow access from verrazzano-authproxy to Jaeger UI on port 16686
# Egress: allow all
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: jaeger-query
  namespace: {{ .Values.jaegerOperator.namespace }}
spec:
  podSelector:
    matchLabels:
      app: jaeger
      app.kubernetes.io/component: query
      app.kubernetes.io/managed-by: jaeger-operator
  policyTypes:
    - Ingress
  ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            verrazzano.io/namespace: verrazzano-monitoring
        podSelector:
          matchLabels:
            app.kubernetes.io/name: prometheus
      ports:
        - port: 16687
          protocol: TCP
        - port: 14271
          protocol: TCP
        - port: 15090
          protocol: TCP
    - from:
        - namespaceSelector:
            matchLabels:
              verrazzano.io/namespace: verrazzano-system
          podSelector:
            matchLabels:
              app: verrazzano-authproxy
      ports:
        - port: 16686
          protocol: TCP
{{- end }}
