# Copyright (c) 2021, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: multiclustersecrets.clusters.verrazzano.io
spec:
  group: clusters.verrazzano.io
  names:
    kind: MultiClusterSecret
    listKind: MultiClusterSecretList
    plural: multiclustersecrets
    shortNames:
    - mcsecret
    - mcsecrets
    singular: multiclustersecret
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MultiClusterSecret specifies the Multi Cluster Secret API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: The desired state of a Multi Cluster Secret resource.
            properties:
              placement:
                description: Clusters in which the secret is to be created.
                properties:
                  clusters:
                    description: List of clusters.
                    items:
                      description: Cluster contains the name of a single cluster.
                      properties:
                        name:
                          description: The name of a cluster.
                          type: string
                      required:
                      - name
                      type: object
                    type: array
                required:
                - clusters
                type: object
              template:
                description: The embedded Kubernetes secret.
                properties:
                  data:
                    additionalProperties:
                      format: byte
                      type: string
                    description: Corresponds to the data field of the struct Secret
                      defined in <a href="https://github.com/kubernetes/api/blob/master/core/v1/types.go">types.go</a>.
                    type: object
                  metadata:
                    description: Metadata describing the secret.
                    properties:
                      annotations:
                        additionalProperties:
                          type: string
                        description: Annotations for the resource.
                        type: object
                      labels:
                        additionalProperties:
                          type: string
                        description: Labels for the resource.
                        type: object
                      name:
                        description: Name of the resource.
                        type: string
                      namespace:
                        description: Namespace of the resource.
                        type: string
                    type: object
                  stringData:
                    additionalProperties:
                      type: string
                    description: Corresponds to the `stringData` field of the `struct`
                      Secret defined in <a href="https://github.com/kubernetes/api/blob/master/core/v1/types.go">types.go</a>.
                    type: object
                  type:
                    description: The type of secret.
                    type: string
                type: object
            required:
            - placement
            - template
            type: object
          status:
            description: The observed state of a Multi Cluster Secret resource.
            properties:
              clusters:
                description: Status information for each cluster.
                items:
                  description: ClusterLevelStatus describes the status of the multi
                    cluster resource in a specific cluster.
                  properties:
                    lastUpdateTime:
                      description: Last update time of the resource state in this
                        cluster.
                      type: string
                    message:
                      description: Message details about the status in this cluster.
                      type: string
                    name:
                      description: Name of the cluster.
                      type: string
                    state:
                      description: State of the resource in this cluster.
                      type: string
                  required:
                  - lastUpdateTime
                  - name
                  - state
                  type: object
                type: array
              conditions:
                description: The current state of a multicluster resource.
                items:
                  description: Condition describes current state of a multi cluster
                    resource.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: A message with details about the last transition.
                      type: string
                    status:
                      description: 'Status of the condition: one of `True`, `False`,
                        or `Unknown`.'
                      type: string
                    type:
                      description: Type of condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              state:
                description: 'The state of the multicluster resource. State values
                  are case-sensitive and formatted as follows: <ul><li>`Failed`: deployment
                  to cluster failed</li><li>`Pending`: deployment to cluster is in
                  progress</li><li>`Succeeded`: deployment to cluster successfully
                  completed</li></ul>'
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
