# Copyright (c) 2020, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: verrazzanocoherenceworkloads.oam.verrazzano.io
spec:
  group: oam.verrazzano.io
  names:
    kind: VerrazzanoCoherenceWorkload
    listKind: VerrazzanoCoherenceWorkloadList
    plural: verrazzanocoherenceworkloads
    singular: verrazzanocoherenceworkload
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VerrazzanoCoherenceWorkload is the Schema for the verrazzanocoherenceworkloads
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VerrazzanoCoherenceWorkloadSpec wraps a Coherence resource.
              The Coherence object specified in the template must contain a spec field
              and it may include a metadata field.
            properties:
              template:
                type: object
                x-kubernetes-preserve-unknown-fields: true
            required:
            - template
            type: object
          status:
            description: VerrazzanoCoherenceWorkloadStatus defines the observed state
              of VerrazzanoCoherenceWorkload
            properties:
              lastGeneration:
                description: LastGeneration is the last generation of the spec that
                  was reconciled
                type: string
              lastRestartVersion:
                description: LastRestartVersion is the last value of the verrazzano.io/restart-version
                  annotation
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
