# Copyright (c) 2021, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: verrazzanoweblogicworkloads.oam.verrazzano.io
spec:
  group: oam.verrazzano.io
  names:
    kind: VerrazzanoWebLogicWorkload
    listKind: VerrazzanoWebLogicWorkloadList
    plural: verrazzanoweblogicworkloads
    singular: verrazzanoweblogicworkload
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VerrazzanoWebLogicWorkload specifies the Verrazzano WebLogic
          workload API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: The desired state of a Verrazzano WebLogic workload.
            properties:
              template:
                description: The metadata and spec for the underlying <a href="https://github.com/oracle/weblogic-kubernetes-operator/blob/main/documentation/domains/Domain.md">Domain</a>
                  resource.
                type: object
                x-kubernetes-preserve-unknown-fields: true
            required:
            - template
            type: object
          status:
            description: The observed state of a Verrazzano WebLogic workload.
            properties:
              lastGeneration:
                description: The last generation of the Verrazzano WebLogic workload
                  that was reconciled.
                type: string
              lastLifecycleAction:
                description: The last value of the `verrazzano.io/lifecycle-action`.
                type: string
              lastRestartVersion:
                description: The last value of the `verrazzano.io/restart-version`
                  annotation.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
