# Copyright (c) 2021, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

#
# Istio AuthorizationPolicy for verrazzano-authproxy
#
{{- if .Values.istio.enabled }}
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: {{ .Values.api.name }}-authzpol
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.api.name }}
  action: ALLOW
  rules:
    # verrazzano-authproxy:8775 <- ingress-controller-ingress-nginx-controller
    - from:
        - source:
            namespaces: ["ingress-nginx"]
            principals: ["cluster.local/ns/ingress-nginx/sa/ingress-controller-ingress-nginx"]
      to:
        - operation:
            ports: ["{{ .Values.api.port }}"]
    # verrazzano-authproxy:8775 <- fluentd
    - from:
        - source:
            namespaces: ["{{ .Release.Namespace }}"]
            principals: ["cluster.local/ns/{{ .Release.Namespace }}/sa/{{ .Values.logging.name }}"]
      to:
        - operation:
            ports: ["{{ .Values.api.port }}"]
{{- if .Values.jaegerOperator.enabled }}
    # verrazzano-authproxy:8775 <- jaeger
    - from:
        - source:
            namespaces: ["{{ .Values.jaegerOperator.namespace }}"]
            principals: ["cluster.local/ns/{{ .Values.jaegerOperator.namespace }}/sa/{{ .Values.jaegerOperator.jaegerServiceAccount }}"]
      to:
        - operation:
            ports: ["{{ .Values.api.port }}"]
{{- end }}
    # verrazzano-authproxy:9113,15090 <- prometheus
    - from:
        - source:
            namespaces: ["{{ .Values.prometheus.namespace }}"]
            principals: ["cluster.local/ns/{{ .Values.prometheus.namespace }}/sa/{{ .Values.prometheus.serviceAccount }}"]
      to:
        - operation:
            ports: ["9113","15090"]
---
{{- if .Values.elasticSearch.enabled }}
#
# Istio AuthorizationPolicy for vmi-system-es-master
#
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: vmi-system-es-master-authzpol
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: system-es-master
  action: ALLOW
  rules:
    # vmi-system-es-master:9200 <- verrazzano-authproxy
    - from:
        - source:
            namespaces: ["{{ .Release.Namespace }}"]
            principals: ["cluster.local/ns/{{ .Release.Namespace }}/sa/{{ .Values.api.name }}"]
      to:
        - operation:
            ports: ["9200"]
    # vmi-system-es-master:9200,9300 <- vmi-system-kibana (uses VMO SA)
    - from:
        - source:
            namespaces: ["{{ .Release.Namespace }}"]
            principals: ["cluster.local/ns/{{ .Release.Namespace }}/sa/{{ .Values.monitoringOperator.name }}"]
      to:
        - operation:
            ports: ["9200","9300"]
    # vmi-system-es-master:9200,15090 <- prometheus
    - from:
        - source:
            namespaces: ["{{ .Values.prometheus.namespace }}"]
            principals: ["cluster.local/ns/{{ .Values.prometheus.namespace }}/sa/{{ .Values.prometheus.serviceAccount }}"]
      to:
        - operation:
            ports: ["9200","15090"]
---
#
# Istio AuthorizationPolicy for vmi-system-es-master
#
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: vmi-system-es-ingest-authzpol
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: system-es-ingest
  action: ALLOW
  rules:
    # vmi-system-es-ingest:9200 <- verrazzano-authproxy
    - from:
        - source:
            namespaces: ["{{ .Release.Namespace }}"]
            principals: ["cluster.local/ns/{{ .Release.Namespace }}/sa/{{ .Values.api.name }}"]
      to:
        - operation:
            ports: ["9200"]
    # vmi-system-es-ingest:9200,9300 <- vmi-system-kibana (uses VMO SA)
    - from:
        - source:
            namespaces: ["{{ .Release.Namespace }}"]
            principals: ["cluster.local/ns/{{ .Release.Namespace }}/sa/{{ .Values.monitoringOperator.name }}"]
      to:
        - operation:
            ports: ["9200","9300"]
    # vmi-system-es-ingest:9200,15090 <- prometheus
    - from:
        - source:
            namespaces: ["{{ .Values.prometheus.namespace }}"]
            principals: ["cluster.local/ns/{{ .Values.prometheus.namespace }}/sa/{{ .Values.prometheus.serviceAccount }}"]
      to:
        - operation:
            ports: ["9200","15090"]
{{- end }}

---
{{- if .Values.grafana.enabled }}
#
# Istio AuthorizationPolicy for vmi-system-grafana
#
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: vmi-system-grafana-authzpol
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: system-grafana
  action: ALLOW
  rules:
    # vmi-system-grafana:3000 <- verrazzano-authproxy
    - from:
        - source:
            namespaces: ["{{ .Release.Namespace }}"]
            principals: ["cluster.local/ns/{{ .Release.Namespace }}/sa/{{ .Values.api.name }}"]
      to:
        - operation:
            ports: ["3000"]
    # vmi-system-grafana:15090 <- prometheus
    - from:
        - source:
            namespaces: ["{{ .Values.prometheus.namespace }}"]
            principals: ["cluster.local/ns/{{ .Values.prometheus.namespace }}/sa/{{ .Values.prometheus.serviceAccount }}"]
      to:
        - operation:
            ports: ["15090"]
{{- end }}

---
{{- if .Values.kibana.enabled }}
#
# Istio AuthorizationPolicy for vmi-system-kibana
#
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: vmi-system-kibana-authzpol
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: system-kibana
  action: ALLOW
  rules:
    # vmi-system-kibana:5601 <- verrazzano-authproxy
    - from:
        - source:
            namespaces: ["{{ .Release.Namespace }}"]
            principals: ["cluster.local/ns/{{ .Release.Namespace }}/sa/{{ .Values.api.name }}"]
      to:
        - operation:
            ports: ["5601"]
    # vmi-system-kibana:15090 <- verrazzano-monitoring-operator
    - from:
        - source:
            namespaces: [ "{{ .Release.Namespace }}" ]
            principals: [ "cluster.local/ns/{{ .Release.Namespace }}/sa/{{ .Values.monitoringOperator.name }}" ]
      to:
        - operation:
            ports: ["15090","5601"]
    # vmi-system-kibana:15090 <- prometheus
    - from:
        - source:
            namespaces: ["{{ .Values.prometheus.namespace }}"]
            principals: ["cluster.local/ns/{{ .Values.prometheus.namespace }}/sa/{{ .Values.prometheus.serviceAccount }}"]
      to:
        - operation:
            ports: ["15090", "5601"]
{{- end }}

---
{{- if .Values.console.enabled }}
#
# Istio AuthorizationPolicy for verrazzano-console
#
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: {{ .Values.console.name }}-authzpol
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.console.name }}
  action: ALLOW
  rules:
    # verrazzano-console:8000 <- verrazzano-authproxy
    - from:
        - source:
            namespaces: ["{{ .Release.Namespace }}"]
            principals: ["cluster.local/ns/{{ .Release.Namespace }}/sa/{{ .Values.api.name }}"]
      to:
        - operation:
            ports: ["8000"]
    # verrazzano-console:15090 <- prometheus
    - from:
        - source:
            namespaces: ["{{ .Values.prometheus.namespace }}"]
            principals: ["cluster.local/ns/{{ .Values.prometheus.namespace }}/sa/{{ .Values.prometheus.serviceAccount }}"]
      to:
        - operation:
            ports: ["15090"]
{{- end }}
---
{{- if .Values.jaegerOperator.enabled }}
#
# Istio AuthorizationPolicy for Jaeger deployed by Verrazzano
#
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: jaeger-collector-authzpol
  namespace: {{ .Values.jaegerOperator.namespace }}
spec:
  selector:
    matchLabels:
      app: jaeger
      app.kubernetes.io/component: collector
      app.kubernetes.io/managed-by: jaeger-operator
  action: ALLOW
  rules:
    # jaeger-collector-service:9411, 14250 <- <any>
    - from:
      to:
        - operation:
            ports: ["9411", "14250"]
    # jaeger-collector-service:15090, 14269 <- prometheus
    - from:
        - source:
            namespaces: ["{{ .Values.prometheus.namespace }}"]
            principals: ["cluster.local/ns/{{ .Values.prometheus.namespace }}/sa/{{ .Values.prometheus.serviceAccount }}"]
      to:
        - operation:
            ports: ["15090", "14269"]
---
#
# Istio AuthorizationPolicy for Jaeger Query deployed by Verrazzano
#
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: jaeger-query-authzpol
  namespace: {{ .Values.jaegerOperator.namespace }}
spec:
  selector:
    matchLabels:
      app: jaeger
      app.kubernetes.io/component: query
      app.kubernetes.io/managed-by: jaeger-operator
  action: ALLOW
  rules:
    # jaeger-collector-service:16686 <- verrazzano-authproxy
    - from:
        - source:
            namespaces: ["{{ .Release.Namespace }}"]
            principals: ["cluster.local/ns/{{ .Release.Namespace }}/sa/{{ .Values.api.name }}"]
      to:
        - operation:
            ports: ["16686"]
    # jaeger-query-service:15090, 14271, 16687 <- prometheus
    - from:
        - source:
            namespaces: ["{{ .Values.prometheus.namespace }}"]
            principals: ["cluster.local/ns/{{ .Values.prometheus.namespace }}/sa/{{ .Values.prometheus.serviceAccount }}"]
      to:
        - operation:
            ports: ["15090", "14271", "16687"]
{{- end }}
{{- end }}
